@use "variables" as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $page-padding;
}

.question-editor,
.answer-editor {
  margin-top: 16px;

  textarea {
    width: 100%;
  }
}

.answer-editor {
  margin-bottom: 16px;
}

.actions-container {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}