<div class="dashboard-title">
	<h1>Main topics</h1>
</div>
<div class="topics-container">
	<mat-expansion-panel *ngFor="let topic of topics" class="with-margin">
		<mat-expansion-panel-header>
			{{ topic }}
		</mat-expansion-panel-header>
		<app-articles></app-articles>
	</mat-expansion-panel>
</div>

<input id="topic" name="topic" type="text" placeholder="Topic name"/>
<button class="icon-button yellow-button" *ngIf="true">
	<span>Add topic</span>
	<fa-icon [icon]="faPlus"></fa-icon>
</button>
