@use "colors" as *;
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    background-color: $deep-purple;

    &__title {
        font-size: 2rem;
        line-height: 40px;
        color: #fff;
    }

    &__container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #fff;

        p {
            font-size: 1.25rem;
            cursor: pointer;
        }
    }
}