<div class="navbar">
    <h1 class="navbar__title" (click)="goToDashboard()">Apollo</h1>
    <div class="navbar__container">
        <p (click)="goToDashboard()">Dashboard</p>
        <p>About</p>
        <p>Help</p>
    </div>
    <button class="icon-button" *ngIf="!isSignedIn" (click)="goToSignIn()">
        <span>Sign in</span>
        <fa-icon class="fa-arrow-right" [icon]="faArrowRight"></fa-icon>
    </button>
    <button class="icon-button" *ngIf="isSignedIn">
      <span>{{username}}</span>
    </button>
    <p *ngIf="false">Nume utilizator</p>

</div>
