@use "colors" as *;

.articles {
  .article-container {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: $very-light-deep-purple;
    }

  p {
    padding-left: 8px;
  }
  }
}