.article {
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .article-title {
      font-weight: 700;
    }

    .article-author {
      font-size: 16px;
      font-weight: 400;
      margin-top: 1rem;
    }
  }



  &__section {
    margin-top: 32px;

    &__title {
      font-size: 22px;
      line-height: 28px;
    }

    &__paragraph {
      margin-top: 8px;
    }
  }
}