@use "@angular/material" as mat;

// Deep purple
$very-light-deep-purple: #D1C4E9;
$light-deep-purple: #9575CD;
$deep-purple: #673AB7;
$dark-deep-purple: #512DA8;
$very-dark-deep-purple: #512DA8;

// Amber
$very-light-amber: #FFECB3;
$light-amber: #FFD54F;
$amber: #FFC107;
$dark-amber: #FFA000;
$very-dark-amber: #FF6F00;
