<div class="assessment-container">
  <div class="assessment-container__left">
    <div class="assessment-container__left__header">
      <h3>Questions</h3>
      <button (click)="addQuestion()">
        <fa-icon class="fa-plus" [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="assessment-container__left__questions">
      <div class="question-container" *ngFor="let questionSet of questions">
        <app-question-item *ngFor="let question of questionSet; index as i"
          [active]="question.id === activeQuestionId"
          [question]="question"
          [isHelper]="i > 0"
          (click)="selectQuestion(question.id)"
          (addHelper)="addHelperQuestion(question.id)"
          (deleteQuestion)="deleteQuestion(question.id)"></app-question-item>
      </div>
    </div>
  </div>
  <div class="assessment-container__right">
    <app-question-view [questionId]="12"></app-question-view>
  </div>
</div>