<div class="assessment-container">
  <div class="assessment-container__left">
    <div class="assessment-container__left__header">
      <h3>Questions</h3>
      <button (click)="addQuestion()">
        <fa-icon class="fa-plus" [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <div class="assessment-container__left__questions">
      <div 
        class="question" 
        *ngFor="let question of questions" 
        [ngClass]="{'active': question.active}"
        (click)="selectQuestion(question.id)"
      >
        <div class="question-left">
          <div class="question__number">
            {{ question.id }}
          </div>
          <p class="question__title">{{ question.title }}</p>
        </div>
        <div class="question__options" mat-button [matMenuTriggerFor]="menu">
          <fa-icon class="fa-ellipsis-vertical" [icon]="faEllipsisVertical">
          </fa-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addHelperQuestion(question.id)">Add helper question</button>
            <button mat-menu-item (click)="deleteQuestion(question.id)">Delete question</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div class="assessment-container__right">
    <p>trial</p>
  </div>
</div>