@use "colors" as *;
@use "variables" as *;

.assessment-container {
  display: flex;
  padding: .5rem 2rem;
  height: calc(100% - #{$header-height});

  &__left {
    width: 275px;
    background-color: #fff;
    border-right: 1px solid #e3e3e3;

    &__header {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 8px;
        background-color: $dark-amber;
        color: $white;
        cursor: pointer;

        fa-icon {
          font-size: 16px;
        }
      }

      .fa-plus {
        font-size: 10px;
      }
    }

    &__questions {
      padding-right: 16px;
    }
  }

  &__right {
    flex-grow: 1;
    background-color: #fff;
  }
}