/* You can add global styles to this file, and also import other style files */

@use "typography" as *;
@use "button" as *;
@use "colors" as *;
@use "textarea" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  @include normal;
  margin-bottom: 0 !important;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

mat-expansion-panel.with-margin {
	margin: 16px 0;
}

@include button;

@include textarea;