/* You can add global styles to this file, and also import other style files */

@use "typography" as *;
@use "button" as *;
@use "colors" as *;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  @include normal;
  margin-bottom: 0 !important;
}

mat-expansion-panel.with-margin {
	margin: 16px 0;
}

button.icon-button {
  @include icon-button;

  &.yellow-button {
    background-color: $dark-amber;
    color: $white;

    fa-icon {
      color: $white;
    }
  }
}
